<div class="wrapper">
  <div class="container">
    <div class="row poster">
      <div class="col-md-6 text-center">
        <div id="show-movie-image">
          <%= image_tag @movie.poster_url %>
          <%#= cl_image_tag @movie.poster, width: 450, height: 600, crop: :fill %>
        </div>
      </div>
      <div class="col-md-6 movie-details">
        <div class="title-header">
          <div class="title-header-item">
            <h1><%= @movie.title %></h1>
          </div>
          <div id="add-buttons">
            <div class="title-header-item">
              <% if @user.inwatchlist?(@movie) %>
                <%= link_to movie_watchlist_item_path(@movie, @watchlist_item), class: "btn btn-lg add-to-watchlist-button", method: :delete do  %>
                  <i class="fas fa-check"></i>
                <% end %>
              <% else %>
                <%= link_to movie_watchlist_items_path(@movie), class: "btn btn-lg add-to-watchlist-button", method: "post" do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              <% end %>
            </div>
            <div class="dropdown">
              <button class="btn btn-lg secondary-cta" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="main-cta"></i><i class="fas fa-plus"></i> Add to List
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% @playlists.each do |playlist| %>
                  <%= link_to playlist.name, movie_movie_playlists_path(@movie, :@playlist => playlist), method: "post", class: "dropdown-item" %>
                <% end %>
                <a class="dropdown-item"
                  <%= link_to movies_path(@movie), class: "nav-link" do%>
                    <p><b>+ New List</b></p>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
        <p class="release-date"><%= @movie.release_date %></p>
        <hr>
        <p><b>Directed by:</b> <%= @movie.director %></p>
        <p><b>Duration:</b> <%= @movie.duration %></p>
        <p><b>Categories:</b>
          <% @categories.each do |category| %>
            <%= category.name %>
          <% end %>
        <p><b>Syllabus:</b> <%= @movie.syllabus %></p>

          <div id="watch-btn">
            <% if current_user.orders.where(movie: @movie).all?{|x| x.payment == nil} %>
              <div class="show-cta payment-button">
                <button id="rent-button", class="main-cta"><i class="fas fa-dollar-sign"></i> Rent Movie</button>
                <div class="stripe-payment-button">
                  <%= form_tag order_payments_path(@order) do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-name="My Movie"
                    data-email="<%= current_user.email %>"
                    data-description="Movie <%= @order.movie.title %>"
                    data-amount="<%= @order.amount_cents %>"
                    data-currency="<%= @order.amount.currency %>"></script>
                  <% end %>
                </div>
              </div>
            <% else %>
              <div class="show-cta">
              <%= link_to watch_movie_path(@movie) do %>
                <button class="main-cta"><i class="fas fa-play mr-3"></i>Movie</button>
              <% end %>
              </div>
            <% end %>
            <div class="show-cta">
              <button class="secondary-cta" data-toggle="modal" data-target="#myModalTrailer"><i class="fas fa-play mr-3"></i>Trailer</button>
            </div>
            <!-- <div class="show-cta">
              <%# if current_user.orders.where(movie: @movie).all?{|x| x.payment == nil} %>
              <%# end  %>
            </div> -->
          </div>
          <hr>
<div>
  <div class="same-line">
    <div class="rating-items">
      <p><b>Average rate</b>:</p>
    </div>
    <div class="rating-items">
      <% @movie.rating.times do %>
      <i class="fas fa-star blue-star"></i>
      <% end %>
      <% (5 - @movie.rating).times do %>
      <i class="fas fa-star light-blue-star"></i>
      <% end %>
    </div>
  </div>
  <% if @movie.reviews.any? %>
    <% @movie.reviews.each do |review| %>
    <div>
      <p class="user-comment">- "<%= review.comment %>" (posted by <%= review.user.username %> on <%= review.review_date %>)</p>
      <div>
        <% @movie.rating.times do %>
          <i class="fas fa-star blue-star"></i>
        <% end %>
        <% (5 - @movie.rating).times do %>
          <i class="fas fa-star light-blue-star"></i>
        <% end %>
      </div>
    </div>
    <% end %>
  <% else %>
  <p>This movie does not have any review yet; rent it to be able to add a review!</p>
  <% end %>
</div>









      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModalTrailer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="container-movie-watch">
          <div class="js-video [vimeo, widescreen] flex justify-content-center">
            <iframe class="movie-watch" src="https://www.youtube.com/embed/9Y7X6le5qmE?showinfo=0" frameborder="0" allowfullscreen></iframe>
        <!--     <iframe class="movie-watch" src="<%= @movie.trailer_url  %>" frameborder="0" allowfullscreen></iframe> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
