<div class="wrapper">
  <div class="container">
    <div class="row poster">
      <div class="col-md-6 text-center">
        <div id="show-movie-image">
          <%= image_tag @movie.poster_url %>
          <%#= cl_image_tag @movie.poster, width: 450, height: 600, crop: :fill %>
        </div>
      </div>
      <div class="col-md-6 movie-details">
        <div class="title-header">
          <h1><%= @movie.title %></h1>
            <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-sm btn-outline-danger inactive btn-add-to-watchlist">
              <input type="checkbox" checked autocomplete="on"> <b>+</b>
            </label>
          </div>
        </div>
        <h3><%= @movie.release_date %></h3>
        <hr>
        <p><b>Directed by:</b> <%= @movie.director %></p>
        <p><b>Duration:</b> <%= @movie.duration %></p>
        <p><b>Categories:</b>
          <% @categories.each do |category| %>
            <%= category.name %>
          <% end %>
        <p><b>Syllabus:</b> <%= @movie.syllabus %></p>
        <div class="show-cta">
          <%# if @movie.user == @user || @movie_rented.include?(@movie) %>
            <%= link_to watch_movie_path(@movie) do %>
              <button id="main_cta">Watch this movie</button>
            <% end %>
            <div class="dropdown add-to-list-button">
              <button class="btn btn-outline-danger btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i id="main_cta"></i> Add to PlayList
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% @playlists.each do |playlist| %>
                  <%= link_to playlist.name, movie_movie_playlists_path(@movie, :@playlist => playlist), method: "post", class: "dropdown-item" %>
                <% end %>
                <a class="dropdown-item"
                  <%= link_to movies_path(@movie), class: "nav-link" do%>
                    <p><b>+ Add to list</b></p>
                  <% end %>
                  <%#= link_to '>> New Playlist', movie_path(@movie) %></a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>



