  <div class=container-watchlist>
    <% @watchlist.each do |item| %>
      <div class=card-movie-playlist>
        <%= link_to movie_path(item.movie) do  %>
          <div class="movie-cover-playlist">
           <%= cl_image_tag item.movie.poster, width: 230, height: 260, crop: :fill %>
          </div>
        <% end %>
        <div class="movie-title-director-playlist">
          <p class="text-center"><strong><%=h truncate(item.movie.title, :length => 40) %></strong></p>
          <p class="text-left">Director: <%= item.movie.director %></p>
          <div class="form-inline flexedit">
            <p class="fixed-bottom-left">Rating: <%= item.movie.rating %>/5</p>
            <p class="fixed-bottom-right"><%= link_to 'DDD', movie_watchlist_item_path(item.movie, item), method: :delete, :class => "fas fa-trash-alt"  %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
