<div class="wrapper">
  <div class="container">
    <div class="header_user_show">
      <%= cl_image_tag @user.avatar, class: "avatar-user-show", width: 300, height: 300, crop: :fill %>
      <div id="username_user_show", class="header_info_user_show">
        <h2 class="header_cta_user_show"><%= @user.first_name %> <%= @user.last_name %></h2>
        <%= render "users/user" %>
      </div>
    </div>
    <div class="title_user_show">
      <h4><%= @user.first_name %> <%= @user.last_name %>'s lists of movies</h4>
    </div>

    <div class="carousel">
      <div class="multiple-items">
        <% @playlists.each do |playlist| %>
            <div class="card item">
              <%= link_to playlist_path(playlist) do %>
                <div class="playlist_picture_user_show">
                  <%= cl_image_tag playlist.picture, height: 200, width: 200, crop: :fill %>
                </div>
              <% end %>
              <div "playlist_info_user_show">
                <p><strong><%= playlist.name %></strong></p>
                <p class="date">Created on <%= playlist.playlist_date.strftime("%B %d, %Y") %></p>
              </div>
            </div>
        <% end %>
        <% @playlists.each do |playlist| %>
            <div class="card item">
              <%= link_to playlist_path(playlist) do %>
                <div class="playlist_picture_user_show">
                  <%= cl_image_tag playlist.picture, height: 200, width: 200, crop: :fill %>
                </div>
              <% end %>
              <div "playlist_info_user_show">
                <p><strong><%= playlist.name %></strong></p>
                <p class="date">Created on <%= playlist.playlist_date.strftime("%B %d, %Y") %></p>
              </div>
            </div>
        <% end %>
      </div>
    </div>


    <div class="title_user_show">
      <h4><%= @user.first_name %> <%= @user.last_name %>'s followed users</h4>
    </div>

    <div class="carousel">
      <div class="multiple-items">
        <% @user.following.each do |user| %>
            <div class="card item">
              <%= link_to user_path(user) do %>
                <div class="playlist_picture_user_show">
                  <%= cl_image_tag user.avatar, class: "avatar-user-show", height: 200, width: 200, crop: :fill %>
                </div>
              <% end %>
              <div>
                <p><strong><%= user.username %></strong></p>
                <p class="date">Member since <%= user.created_at.strftime("%B %d, %Y") %></p>
              </div>
            </div>
        <% end %>
        <% @user.following.each do |user| %>
            <div class="card item">
              <%= link_to user_path(user) do %>
                <div class="playlist_picture_user_show">
                  <%= cl_image_tag user.avatar, class: "avatar-user-show", height: 200, width: 200, crop: :fill %>
                </div>
              <% end %>
              <div>
                <p><strong><%= user.username %></strong></p>
                <p class="date">Member since <%= user.created_at.strftime("%B %d, %Y") %></p>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
