<div class="story-box">
  <div class="story-box-img">
    <%= cl_image_tag activity.owner.avatar, class: "box-img", width: 150, height: 150, crop: :thumb, gravity: :face %>
  </div>
  <div class="story-box-des">
    <p class="username">
      <% if activity.owner.last_name.length < 8 %>
        <%= link_to activity.owner.first_name + " " + activity.owner.last_name, user_path(activity.owner) %>
      <% else  %>
        <%= link_to activity.owner.first_name + " " + activity.owner.last_name[0..7]+"...", user_path(activity.owner) %>
      <% end %>
    </p>
    <% if activity.key == "order.update" %>
      <p>is watching</p><i class="fas fa-play top-right-position"></i>
      <p><%= link_to activity.trackable.movie.title, movie_path(activity.trackable.movie) %></p>
    <% elsif activity.key == "follow.create" %>
      <p>now follows</p><i class="fas fa-user-friends top-right-position"></i>
      <p><%= link_to activity.trackable.following.username, user_path(activity.trackable.following) %></p>
    <% else %>
      <p> now follows</p><i class="fas fa-user-friends top-right-position"></i>
      <p><%= link_to activity.trackable.playlist.name, playlist_path(activity.trackable.playlist) %></p>
    <% end %>
  </div>
</div>
