<div class="card-movie">
  <div class="poster-movie">
    <%= cl_image_tag movie.poster, class: "img-movie" %>
  </div>
  <div class="title-movie">
    <div>
      <p class="font-weight-bold font-size-title"> <%=h truncate(movie.title, :length => 40) %></p>
    </div>
    <p class="text-truncate" style="max-width: 180px;">By <%= movie.director %></p>
    <p class=" star-all star-<%= movie.rating %>">
      <% movie.rating.times do %>
        <i class="fas fa-star blue-star"></i>
      <% end %>
      <% (5 - movie.rating).times do %>
        <i class="fas fa-star light-blue-star"></i>
      <% end %>
    </p>
  </div>
<%= link_to "", movie_path(movie), class: "resultsalgolia" %>
</div>
