<div class="wrapper">
    <div class="banner">
      <div>
        <h2><span id="banner-typed-text"></span></h2>
      </div>
    </div>
  <div class="container-center">

    <div class="row-wrapper">
      <div class="container-category">
        <div id="category-header">
          <h4>Thriller movies</h4>
          <%= link_to "See all", movies_path, class: "btn blue" %>
        </div>
        <div class="container-square">
          <% @thriller_movies.each_slice(2) do |movie_pair| %>
            <div class="container-square-wrapper">
              <%= render "movie_square", movie: movie_pair[0] %>
              <%= render "movie_square", movie: movie_pair[1] %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="container-category">
        <div id="category-header">
          <h4>Romance movies</h4>
          <%= link_to "See all", movies_path, class: "btn blue" %>
        </div>
        <div class="container-square">
          <% @romance_movies.each_slice(2) do |movie_pair| %>
            <div class="container-square-wrapper">
              <%= render "movie_square", movie: movie_pair[0] %>
              <%= render "movie_square", movie: movie_pair[1] %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="container-category">
        <div id="category-header">
          <h4>Drama movies</h4>
          <%= link_to "See all", movies_path, class: "btn blue" %>
        </div>
        <div class="container-square">
          <% @drama_movies.each_slice(2) do |movie_pair| %>
            <div class="container-square-wrapper">
              <%= render "movie_square", movie: movie_pair[0] %>
              <%= render "movie_square", movie: movie_pair[1] %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="container-category">
        <div id="category-header">
          <h4>Adventure movies</h4>
          <%= link_to "See all", movies_path, class: "btn blue" %>
        </div>
        <div class="container-square">
          <% @adventure_movies.each_slice(2) do |movie_pair| %>
            <div class="container-square-wrapper">
              <%= render "movie_square", movie: movie_pair[0] %>
              <%= render "movie_square", movie: movie_pair[1] %>
            </div>

          <% end %>
        </div>
      </div>

    </div>

      <!-- # fin row wrapper -->
  </div>
</div>
