<div class="container">
  <div class="container container-description">
    <div class="img-playlist-des">
      <%= cl_image_tag @playlist.picture, width: 320, height: 225, crop: :fill %>
    </div>
    <div class="playlist-des">
      <h4><%= @playlist.name  %></h4>
      <p><b>Description:</b> <%= @playlist.description  %></p>
      <p><b>Owner:</b> <%= link_to @playlist.user.username, user_path(@playlist.user)  %></p>
      <% if current_user.followed_playlists.where(playlist: @playlist).empty? %>
        <%= link_to user_followed_playlists_path(current_user, :@playlist => @playlist), method: :post  do %>
          <button id="main_cta">Add to Favourites</button>
        <% end %>
      <% else %>
       <%= link_to user_followed_playlist_path(current_user, current_user.followed_playlists.where(playlist: @playlist)[0]), method: :delete  do %>
          <button id="main_cta">Stop Following</button>
        <% end %>
      <% end %>
    </div>
  </div>
    <div class="container-watchlist">
      <div class="row">
        <% @movies.each do |movie| %>
        <div class="col-lg-3">
          <%= render "pages/movie_square", movie: movie %>
        </div>
        <% end %>
      </div>
    </div>
</div>
