<div class="container">
  <div class="container-description">
    <div class="img-playlist-des">
      <%= cl_image_tag @playlist.picture, width: 320, height: 225, crop: :fill %>
    </div>
    <div class="playlist-des">
      <h4><%= @playlist.name  %></h4>
      <p><b>Description:</b> <%= @playlist.description  %></p>
      <p><b>Owner:</b> <%= link_to @playlist.user.username, user_path(@playlist.user)  %></p>
      <%= link_to "#" do %>
          <button id="main_cta">Add to Favourites</button>
      <% end %>
    </div>
  </div>
  <div class=container-playlist>
    <% @movies.each do |movie| %>
    <div class=card-movie-playlist>
      <%= link_to movie_path(movie) do  %>
        <div class="movie-cover-playlist">
         <%= cl_image_tag movie.poster, width: 230, height: 260, crop: :fill %>
        </div>
      <% end %>
      <div class="movie-title-director-playlist">
        <p class="text-center"><strong><%=h truncate(movie.title, :length => 40) %></strong></p>
        <p class="text-left">Director: <%= movie.director %></p>
        <div class="form-inline flexedit">
          <p class="fixed-bottom-left">Rating: <%= movie.rating %>/5</p>
          <% if @playlist.user == current_user %>
            <p class="fixed-bottom-right"><%= link_to 'DDD', movie_movie_playlist_path(movie, @playlist), method: :delete, :class => "fas fa-trash-alt"  %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

